@use "../../../globals.scss" as *;

.top-navigation {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background: var(--color-background-paper);
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  border-bottom: 1px solid var(--color-divider);
}

.nav-links {
  display: flex;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search {
  max-width: 400px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}